# 국가법령정보센터 API Key
LAW_API_KEY=your_law_api_key_here

# Anthropic (Claude) API Key
ANTHROPIC_API_KEY=your_anthropic_api_key_here

# 네이버 검색 API 키
NAVER_CLIENT_ID=KVpRm83DQimDWn3N_3Uq
NAVER_CLIENT_SECRET=z0ByXCovGJ